body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: rgb(20, 20, 20);
  margin: 0;
}
h1 {
  margin: 8px;
}

.values {
  font-size: 13px;
  fill: rgb(0, 0, 0);
}
.bar:hover {
  opacity: 0.8;
}
.country {
  font-size: 13px;
}
.axis path,
.axis line {
  fill: none;
  stroke: #777;
  shape-rendering: crispEdges;
}
.tick text {
  opacity: 0;
}
.axis text {
  font-size: 10px;
  fill: rgb(20, 20, 20);
}
.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
